{% extends 'base.html' %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block body %}
<div class="card" >
   <div class="card-body">
     <h4 class="card-title text-center">{% trans 'Enter your Username to Proceed to Login'%}</h4><br />
     {% if error_message %}
      <p>{{ error_message }}</p>
      {%endif%}
      {% if form.errors %}
           {% for error in form.non_field_errors %}
               <div class="alert alert-danger">
                   <strong>{{ error|escape }}</strong>
               </div>
               {%endfor%}
       {% endif %}
     <form method="post" enctype="multipart/form-data">
       {% csrf_token %}
       <!-- {{ form|crispy }} -->
       {% if form.username.errors%}
       <div class="alert alert-danger">
           <strong>{{ form.username.errors|escape }}</strong>
       </div>
       {% endif %}
       <div class="form-group iclass">
           <label class="iclass" for="un">{{ form.username.label_tag }}</label>
           <input class="form-control" id="un" maxlength="30" name="{{ form.username.html_name }}" placeholder="e.g. abc123" type="text"/>
       </div>
       <div class="form-group text-center">
           <button type="submit" class="btn submit-btn">{% trans 'Submit' %}</button>
       </div>
     </form>
   </div>
 </div>
{%endblock%}
